{{define "spesific"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Spesific templete</title>
</head>
<body>
    <h1>Just spesific render templete</h1>
</body>
</html>
{{end}}

{{define "Stest"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Other Spesific templete</title>
</head>
<body>
    <h1>the another spesific templete render</h1>
</body>
</html>
{{end}}